.App {
  height: 100%;
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: 0.6em;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px;
}

.App-input {
  background-color: #282c34;
  border: 1px solid white;
  color: whitesmoke;
  font-size: 1.1em;
  padding: 15px;
}

.App-button {
  background-color: white;
  border: 1px solid gray;
  color: #282c34;
  width: 180px;
  height: 32px;
  font-size: 1.2em;
  margin: 25px;
}

.App-button:hover {
  background-color: #282c34;
  border-color: white;
  color: white;
  cursor: pointer;
}

.App-button:disabled {
  background-color: gray;
  border-color: whitesmoke;
  color: lightgray;
  cursor: default;
}

.App-scrambled {
  width: 800px;
  border: 1px dashed orange;
  padding: 20px;
}
